.toolbar {
  align-self: stretch;
  margin-left: 30px;
}

.toolbar__button {
  text-indent: -9999px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  min-width: 50px;
  border: 0;
  min-height: 100%;
  transition: all 200ms;
}

.toolbar__button:focus,
.toolbar__button:hover {
  background-color: #222;
}

.toolbar__icon {
  border: 1px solid white;
  display: block;
  width: 15px;
  height: 15px;
}

.toolbar__button--circle .toolbar__icon {
  width: 17px;
  height: 17px;
  border-radius: 9999px;
}
